/* http://www.colourlovers.com/palette/1097823/Lenas_Love_Letter 
			red: F04155;
			org: FF823A;
			yel: F2F26F;
			light: FFF7BD;
			green: 95CFB7;
		*/

html, body {
	font-family: Arial, Sans-Serif;
	color: #555;
	font-size: 13pt;
	background-color: #fff;
	padding: 0;
	margin: 0;
}
h1 {
	color: #333;
}
h2 {
	color: #333;
}
.indent {
	margin-left: 30px;
}
.content {
	margin: 0 auto 0 auto;
	width: 800px;
}
.footer {
	width: 100%;
	background-color: #444;
	color: #fff;
	font-size: 0.8em;
	padding: 5px 0 5px 0;
}
.header {
	width: 100%;
	background-color: #444;
	padding: 5px 0 5px 0;
}
.fname {
	font-family: Menlo, Courier;
	border: 1px solid #444;
	padding: 1px;
	font-size: 0.9em;
}
a {
	color: #FF823A;
}
a i:before {
	display: inline-block;
	text-decoration: underline;
}
table.split {
	border: none;
	border-collapse: collapse;
}
table.split td.spacer {
	width: 5px;
}
table.split td.code {
	background-color: #555;
	border-radius: 6px;
	max-width: 400px;
	vertical-align: top;
}
table.split td.code pre {
	font-family: Menlo, Courier;
	background: #555;
	color: #fff;
	padding: 5px 5px 5px 5px;
	font-size: 60%;
	display: inline-block;
	max-width: 390px;
}
table.split td.desc {
	text-align: justify;
	font-size: 0.9em;
	vertical-align: top;
}
ul.publications {
	text-shadow: none;
	font-family: Arial;
	font-size: 90%;
}